
@{
    ViewData["Title"] = "Work";
}

<div class="text-center" style="color:blue">
    <h1>
        We are working hard to create a website!!!<br>
        Please wait a bit and you will see everything.<br>
        With best wishes, Vladimir!
    </h1>
</div>

