<div>
    <h1 class="text-center">Расчёт буронабивных свай</h1>
    <br /> <br /> <br />
</div>

<div>
    <div class="col-6 text-right">
        <a asp-controller="PileCalculation" asp-action="SoilTable" class="btn btn-outline-info btn-sm">Таблица грунтов</a>
    </div>
    <br />
    <div class="col-6 text-right">
        <a asp-controller="PileCalculation" asp-action="" class="btn btn-outline-info btn-sm">Таблица скважин</a>
    </div>
</div>
